body {
  @include background-image(radial-gradient(50% 50%, circle cover, #fff, #ccc));
  color: #333;
  font-family: helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

input[type=submit] {
  margin-top: 20px;
  @include button(shiny);
}

a {
  color: #222;
  &:hover {
    color: #444;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
