body {
  @include background-image(radial-gradient(50% 50%, circle cover, #fff, #ccc));
  color: #333;
  font-family: helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

input[type=submit] {
  margin-top: 20px;
  @include button(shiny);
}

a {
  color: #222;
  &:hover {
    color: #444;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#nav {
  background-color: black;
  @include clearfix;
  color: #EEE;
  height: 50px;
  @include box-shadow(1px 1px 2px #555);
  .left {
    float: left;
    h1 {
      font-size: 22px;
      padding: 0 20px;
      margin: 0;
      line-height: 50px;
      vertical-align: middle;
    }
  }
  .right {
    float: right;
    padding: 0 20px;
    a {
      font-size: 20px;
      padding: 0 10px;
      line-height: 50px;
      vertical-align: middle;
    }
  }
  a {
    color: #EEE;
    text-decoration: none;
    &:hover {
      color: #FFF;
    }
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.form_container {
  margin: 30px;
  padding: 30px 50px;
  background-color: #EEE;
}
